<div class="card">
    <div class="card-header text-white bg-info">S'enregistrer</div>
    <div class="card-body">
        <form
            (ngSubmit)="saveData()"
            [formGroup]="registerReactiveForm"
        >
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label>Nom</label>
                    <input
                        type="text"
                        class="form-control"
                        placeholder="Nom"
                        formControlName="lastname"
                        [ngClass]="{'is-invalid':registerReactiveForm.get('lastname').touched &&
            !registerReactiveForm.get('lastname').valid}"
                    >
                    <div class="invalid-feedback">
                        <span *ngIf="registerReactiveForm.get('lastname').errors?.required">Entrez votre nom</span>
                        <span *ngIf="registerReactiveForm.get('lastname').errors?.minlength">Minimun 4 charactères</span>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label>Prenom</label>
                    <input
                        type="text"
                        class="form-control"
                        placeholder="Prenom"
                        formControlName="firstname"
                        [ngClass]="{'is-invalid':registerReactiveForm.get('firstname').touched && !registerReactiveForm.get('firstname').valid}"
                    >
                    <div class="invalid-feedback">
                        <span *ngIf="registerReactiveForm.get('firstname').errors?.required">Entrez votre prénom</span>
                        <span *ngIf="registerReactiveForm.get('firstname').errors?.maxlength">Maximun 20 charactères</span>
                    </div>
                </div>
            </div>
            <div
                class="row"
                formGroupName="emailGroup"
            >
                <div class="col-md-6 mb-3">
                    <label>Email</label>
                    <input
                        type="text"
                        class="form-control"
                        placeholder="Email"
                        formControlName="email"
                        [ngClass]="{
                          'is-invalid': errorMsg
                        }"
                    >
                    <div class="invalid-feedback">
                        <span>{{ errorMsg }}</span>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="confirmEmailId">Confirmer l'E-mail</label>
                    <input
                        type="email"
                        placeholder="Confirmer l'email(requis)"
                        id="confirmEmailId"
                        class="form-control"
                        formControlName="confirmEmail"
                        [ngClass]="{
                          'is-invalid':
                            registerReactiveForm.get('emailGroup').errors ||
                            ((registerReactiveForm.get('emailGroup.confirmEmail').touched ||
                            registerReactiveForm.get('emailGroup.confirmEmail').dirty) &&
                            !registerReactiveForm.get('emailGroup.confirmEmail').valid)
                        }"
                    >
                    <div class="invalid-feedback">
                        <span *ngIf="registerReactiveForm.get('emailGroup.confirmEmail').errors?.required">Merci d'entrer votre E-mail</span>
                        <span *ngIf="registerReactiveForm.get('emailGroup').errors?.match">L'E-mail ne correspond pas</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="phoneId">Téléphone</label>
                    <input
                        type="tel"
                        class="form-control"
                        placeholder="Numéro de téléphone"
                        formControlName="phone"
                        [ngClass]="{'is-invalid':!registerReactiveForm.get('phone').valid}"
                    >
                    <div class="invalid-feedback">
                        <span *ngIf="registerReactiveForm.get('phone').errors?.required">Entrez votre phone</span>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label>Recevoir les notifications</label>
                    <div class="col-md-8">
                        <div class="form-check form-check-inline">
                            <label
                                for
                                class="form-check-label"
                            >
                                <input
                                    type="radio"
                                    value="email"
                                    formControlName="notification"
                                    class="form-check-input"
                                >
                                E-Mail
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <label
                                for
                                class="form-check-label"
                            >
                                <input
                                    type="radio"
                                    value="text"
                                    formControlName="notification"
                                    class="form-check-input"
                                >
                                Texte
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="ratingId">Note</label>
                    <input
                        type="number"
                        formControlName="rating"
                        id="ratingId"
                        class="form-control"
                        [ngClass]="{
                          'is-invalid':
                            (registerReactiveForm.get('rating').touched ||
                            registerReactiveForm.get('rating').dirty) &&
                            !registerReactiveForm.get('rating').valid
                        }"
                    >
                    <div class="invalid-feedback">
                        <span *ngIf="registerReactiveForm.get('rating').errors?.rangeError">
                            Notez notre service client sur une échelle de 1 à 5
                        </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-check mt-4 pt-3">
                        <label
                            for="sendCatalogId"
                            class="form-check-label"
                        >
                            <input
                                type="checkbox"
                                class="form-check-input"
                                formControlName="sendCatalog"
                            >
                            Oui je
              souhaite recevoir la
              pub
                        </label>
                    </div>
                </div>
            </div>

            <div *ngIf="registerReactiveForm.get('sendCatalog').value">
                <div
                    formArrayName="addresses"
                    *ngFor="let address of addressList.controls;let i=index"
                >
                    <div [formGroupName]="i">
                        <div class="form-group row mb-2">
                            <label class="col-md-2 col-form-label pt-0">Type</label>
                            <div class="col-md-8">
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input
                                            type="radio"
                                            formControlName="addressType"
                                            value="home"
                                            class="form-check-input"
                                        >
                                        Domicile
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input
                                            type="radio"
                                            formControlName="addressType"
                                            value="work"
                                            class="form-check-input"
                                        >
                                        Lieu de travail
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input
                                            type="radio"
                                            formControlName="addressType"
                                            value="other"
                                            class="form-check-input"
                                        >
                                        Autre
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <label attr.for="{{'street1Id'+i}}">Adresse 1</label>
                                <input
                                    type="text"
                                    id="{{'street1Id'+i}}"
                                    formControlName="street1"
                                    class="form-control"
                                >
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-12">
                                <label attr.for="{{'street2Id'+i}}">Adresse 2</label>
                                <input
                                    type="text"
                                    id="{{'street2Id'+i}}"
                                    formControlName="street2"
                                    class="form-control"
                                >
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label attr.for="{{'cityId'+i}}">Ville</label>
                                <input
                                    type="text"
                                    id="{{'cityId'+i}}"
                                    formControlName="city"
                                    class="form-control"
                                >
                            </div>
                            <div class="col-md-3 mb-3">
                                <label attr.for="{{'stateId'+i}}">Département</label>
                                <select
                                    class="form-control"
                                    formControlName="state"
                                    id="{{'stateId'+i}}"
                                >
                                    <option value>Sélectionner un département</option>
                                    <option value="A">A</option>
                                </select>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label attr.for="{{'zipId'+i}}">Code postal</label>
                                <input
                                    type="number"
                                    id="{{'zipId'+i}}"
                                    formControlName="zip"
                                    class="form-control"
                                >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <div class="col-md-4">
                        <button
                            type="button"
                            class="btn btn-outline-info"
                            (click)="addAddress()"
                        >
                            Ajouter une adresse
                        </button>
                    </div>
                </div>
            </div>
            <div class="text-right">
                <button
                    type='button'
                    class="btn btn-outline-info mr-2"
                    (click)="fillFormData()"
                >
                    Remplir les champs par
          défaut
                </button>
                <button
                    type='submit'
                    class="btn btn-info"
                    [disabled]="!registerReactiveForm.valid"
                >
                    Sauvegarder
                </button>
            </div>
        </form>
    </div>
</div>

<hr>

<p>Dirty: {{ registerReactiveForm.dirty }}</p>
<p>
    Pristine: {{ registerReactiveForm.pristine }}
</p>
<p>Valid: {{ registerReactiveForm.valid }}</p>
<p>
    inValid: {{ registerReactiveForm.invalid }}
</p>
<p>
    Addresse bloc 1: {{addressList.get('0.street1')?.value}}
</p>
<p>Value :</p>
<pre>{{registerReactiveForm.value|json}}</pre>
