<div class="card">
  <div class="card-header text-white bg-info">
    S'enregistrer
  </div>
  <div class="card-body">
    <form novalidate (ngSubmit)="saveData(registerForm)" #registerForm="ngForm">
      <div class="row">
        <div class="col-md-6 mb-3"><label>Nom</label>
          <input type="text" class="form-control" placeholder="Nom" [(ngModel)]="user.lastname" name="lastname" required
            minlength="4" #lastNameVar="ngModel" [ngClass]="{'is-invalid':lastNameVar.touched && !lastNameVar.valid}">
          <div class="invalid-feedback">
            <span *ngIf="lastNameVar.errors?.required">
              Entrez votre nom
            </span>
            <span *ngIf="lastNameVar.errors?.minlength">
              Minimun 4 charactères
            </span>
          </div>
        </div>
        <div class="col-md-6 mb-3"><label>Prenom</label>
          <input type="text" class="form-control" placeholder="Prenom" [(ngModel)]="user.firstname" name="firstname"
            required maxlength="20" #firstNameVar="ngModel"
            [ngClass]="{'is-invalid':firstNameVar.touched && !firstNameVar.valid}">
          <div class="invalid-feedback">
            <span *ngIf="firstNameVar.errors?.required">
              Entrez votre prénom
            </span>
            <span *ngIf="firstNameVar.errors?.maxlength">
              Minimun 4 charactères
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3"><label>Email</label>
          <input type="text" class="form-control" placeholder="Email" [(ngModel)]="user.email" name="email" required
            email #emailVar="ngModel" [ngClass]="{'is-invalid':emailVar.touched && !emailVar.valid}">
          <div class="invalid-feedback">
            <span *ngIf="emailVar.errors?.required">
              Entrez votre email
            </span>
            <span *ngIf="emailVar.errors?.email">
              Email invalid
            </span>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-12">
          <div class="form-check mt-4 pt-3"><label for="sendCatalogId" class="form-check-label">
              <input type="checkbox" class="form-check-input" name="sendCatalog" [(ngModel)]="user.sendCatalog">Oui je
              souhaite recevoir la
              pub</label></div>
        </div>
      </div>

      <div *ngIf="user.sendCatalog">

        <div class="row mb-3">
          <div class="col-md-12">
            <label for="">Adresse 1</label>
            <input type="text" class="form-control">
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-12">
            <label for="">Adresse 2</label>
            <input type="text" class="form-control">
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="">Ville</label>
            <input type="text" class="form-control">
          </div>
          <div class="col-md-3 mb-3">
            <label for="">Département</label>
            <select class="form-control">
              <option value="">Sélectionner un département</option>
              <option value="A">A</option>
            </select>
          </div>
          <div class="col-md-3 mb-3">
            <label for="">Code postal</label>
            <input type="number" class="form-control">
          </div>
        </div>

      </div>

      <div class="text-right">
        <button class="btn btn-info" [disabled]="!registerForm.valid">Sauvegarder</button>
      </div>
    </form>
  </div>
</div>

<hr>

<p>Dirty: {{ registerForm.dirty }}</p>
<p>Pristine: {{ registerForm.pristine }}</p>
<p>Valid: {{ registerForm.valid }}</p>
<p>inValid: {{ registerForm.invalid }}</p>
<p>Value :</p>
<pre>{{registerForm.value|json}}</pre>
